.navbar
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

.navbar-menu
{
    margin-left: 3%;
    size: 35px;
}


.navbar-name
{
    font-size: 50px;
    margin-left: 5%;
}

.navbar-logo
{

}

.button
{
    border-color: transparent;
    table-border-color-light: transparent;
}

.footer
{
    position:absolute;
    bottom:0;
    width:100%;
    height:75px;
    background-color: white;
}

.footer-item
{
    margin-left: 43%;
}