.navbar
{
    background-color: white;
    width: 100%;
}

.navbar-menu
{
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    margin-right: 10%;
    margin-left: 20%;
}

.navbar-brand
{
    display: flex;
    flex: 0 1 auto;
}

.navbar-start
{
    font-size: 40px;
}